Выбираем на проверку 1ую гипотезу: 
В период Surge видим более низкую price-to-order конверсию

In [1]:
import pandas as pd

In [4]:
df = pd.read_excel('data.xlsx')
df

       user_id     surge  price_seen  order_made  price-to-order  group_number
0       100093  no surge           2           2        1.000000             2
1       100093     surge           2           1        0.500000             2
2       100118  no surge           4           4        1.000000             2
3       100118     surge           1           1        1.000000             2
4       100134  no surge           4           3        0.750000             2
...        ...       ...         ...         ...             ...           ...
39955   999945  no surge           4           3        0.750000             2
39956   999945     surge           1           1        1.000000             2
39957   999962  no surge           4           4        1.000000             1
39958   999978  no surge           6           5        0.833333             1
39959   999978     surge           1           0        0.000000             1

[39960 rows x 6 columns]

In [2]:
from scipy import stats as st

In [3]:
import numpy as np

Разбиваем данные на группы А и В в зависимости от номера группы юзера и периода surge

In [6]:
A = df.loc[df['group_number'] == 1].loc[df['surge'] == 'surge']
B = df.loc[df['group_number'] == 2].loc[df['surge'] == 'no surge']

Формулируем гипотезы:
H0: средняя price-to-order конверсия в период surge и в период no surge одинаковая 
H1: средняя price-to-order конверсия в период surge и в период no surge различается

Проводим А/В-тест

In [7]:
alpha = 0.05
result = st.ttest_ind(A['price-to-order'], B['price-to-order'], equal_var=False)
print(result)
if (result.pvalue < alpha):
    print('Отвергаем нулевую гипотезу, средняя price-to-order конверсия в период surge и в период no surge различается')
else:
    print('Не отвергаем нулевую гипотезу, средняя price-to-order конверсия в период surge и в период no surge одинаковая')

Ttest_indResult(statistic=-29.619426932504513, pvalue=2.93262953292145e-187)
Отвергаем нулевую гипотезу, средняя price-to-order конверсия в период surge и в период no surge различается

Результаты теста показали, что действительно конверсия в период surge и в период no surge различается, при этом по значению statistic <0 мы доказываем, что действительно конверсия в период surge меньше!